version: "3"

services:
  app:
    build: .
    container_name: iqossticks.ru
    restart: always
    environment:
      - NODE_ENV=production
      - VIRTUAL_HOST=iqossticks.ru
      - LETSENCRYPT_HOST=iqossticks.ru
      - LETSENCRYPT_EMAIL=qwe@gmail.com
      # Редиректы с www на non-www для всех поддоменов
      - REDIRECT_www.iqossticks.ru=iqossticks.ru
    networks:
      - web
    volumes:
      - /var/www/iluma-store.ru/images:/app/public/images:ro

networks:
  web:
    external: true