version: "3"

services:
  app:
    build: .
    container_name: iqossticks.ru
    restart: always
    environment:
      - NODE_ENV=production
      - VIRTUAL_HOST=iqossticks.ru,msk.iqossticks.ru,moscow.iqossticks.ru,spb.iqossticks.ru,ekb.iqossticks.ru,kazan.iqossticks.ru,nn.iqossticks.ru,chelyabinsk.iqossticks.ru,samara.iqossticks.ru,omsk.iqossticks.ru,rostov.iqossticks.ru,ufa.iqossticks.ru,krasnoyarsk.iqossticks.ru,perm.iqossticks.ru,voronezh.iqossticks.ru,volgograd.iqossticks.ru,krasnodar.iqossticks.ru,novosibirsk.iqossticks.ru,nsk.iqossticks.ru,khabarovsk.iqossticks.ru,vladivostok.iqossticks.ru,irkutsk.iqossticks.ru,kemerovo.iqossticks.ru,dnr.iqossticks.ru,donetsk.iqossticks.ru,kaliningrad.iqossticks.ru,krym.iqossticks.ru
      - LETSENCRYPT_HOST=iqossticks.ru,msk.iqossticks.ru,moscow.iqossticks.ru,spb.iqossticks.ru,ekb.iqossticks.ru,kazan.iqossticks.ru,nn.iqossticks.ru,chelyabinsk.iqossticks.ru,samara.iqossticks.ru,omsk.iqossticks.ru,rostov.iqossticks.ru,ufa.iqossticks.ru,krasnoyarsk.iqossticks.ru,perm.iqossticks.ru,voronezh.iqossticks.ru,volgograd.iqossticks.ru,krasnodar.iqossticks.ru,novosibirsk.iqossticks.ru,nsk.iqossticks.ru,khabarovsk.iqossticks.ru,vladivostok.iqossticks.ru,irkutsk.iqossticks.ru,kemerovo.iqossticks.ru,dnr.iqossticks.ru,donetsk.iqossticks.ru,kaliningrad.iqossticks.ru,krym.iqossticks.ru
      - LETSENCRYPT_EMAIL=qwe@example.com
    networks:
      - web

networks:
  web:
    external: true
