version: "3"

services:
  app:
    build: .
    container_name: iqossticks.ru
    restart: always
    environment:
      - NODE_ENV=production
      - VIRTUAL_HOST=iqossticks.ru, chelyabinsk.iqossticks.ru, www.chelyabinsk.iqossticks.ru, www.iqossticks.ru
      - LETSENCRYPT_HOST=iqossticks.ru, chelyabinsk.iqossticks.ru, www.chelyabinsk.iqossticks.ru, www.iqossticks.ru
      - LETSENCRYPT_EMAIL=qwe@gmail.com
      - REDIRECT_www.iqossticks.ru=iqossticks.ru
    networks:
      - web
    volumes:
      # Все сайты используют одну и ту же папку с картинками
      - /var/www/iluma-store.ru/images:/app/public/images:ro
      # - /var/www/iqossticks.ru/.next:/app/.next

networks:
  web:
    external: true
