.contacts{
    margin: 150px auto;
    padding: 0 auto;
    max-width: 1300px;
min-height: 50vh;
max-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    h1{
        text-align: left;
        margin-bottom: 0px;
        font-weight: 600;
        font-size: 32px;
    }
    .adress{
        display: flex;
        flex-direction: column;
        gap: 20px;
        h3{
            text-align: left;
            margin-bottom: 0px;
            font-weight: 600;
            font-size: 24px;
        }
        p{
            text-align: left;
            margin-bottom: 0px;
            font-weight: 500;
            font-size: 16px;    
        }
    }
    .social{
        display: flex;
        flex-direction: column;
        gap: 20px;
        h3{
            text-align: left;
            margin-bottom: 0px;
            font-weight: 600;
            font-size: 24px;
        }
        p{
            text-align: left;
            margin-bottom: 0px;
            font-weight: 500;
            font-size: 16px;
        }
    }
    a{
        text-decoration: underline;
        font-weight: 500;
        font-size: 16px;
    }
    .ymaps{
        width: 100%;
        height: 500px;
        .map{
            width: 100%;
            height: 100%;   
        }
    }
}

@media screen and (max-width: 1300px) {
    .contacts{
        width: 90%;
        margin: 100px 5%;
    }
}