.sales{
    margin: 150px auto;
    padding: 0 auto;
    max-width: 1300px;
    min-height: 50vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
    .sales-one, .sales-two, .sales-three{
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 20px;
        h3{
            text-align: left;
            margin-bottom: 0px;
            font-weight: 600;
            font-size: 24px;
            text-decoration: underline;
        }
        p{
            text-align: left;
            margin-bottom: 0px;
            font-weight: 500;
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 1300px) {
    .sales{
        width: 90%;
        margin: 100px 5%;
    }
}